<head>
    <title>Blog</title>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <link href="/styles/styles.css" rel="stylesheet" type="text/css" />
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
    <meta charset="UTF-8"/>
</head>