<div class="login-container">
    <form>
        <div class="username-container">
            <label>Username: </label>
            <input type="text" name="username"/>
        </div>
        <div class="password-container">
            <label>Password: </label>
            <input type="password" name="password"/>
        </div>
        <div class="submit-container">
            <button hx-post="/login" hx-swap="none">Login</button>
        </div>
    </form>
</div>